.image-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 400px;
    overflow: hidden;
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  